{{ form_start(form) }}
    {{ form_widget(form,{ 'attr': {'class': 'p-4 border rounded-3'} }) }}
   
    <button class="btn btn-primary my-4 btn-sm">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
