{% extends 'base.html.twig' %}

{% block title %}Ajouter Point{% endblock %}

{% block body %}
<div class="row">
        <div class="col-md-12">
        <h1 class="pb-2 border-bottom mb-4">Ajouter Point</h1>
        </div>
        <div class="col-md-4">

        {{ include('point/_form.html.twig') }}

        <a href="{{ path('app_personne_index') }}">Retour</a>
        </div>
</div>
{% endblock %}


