{% extends 'base.html.twig' %}

{% block title %}Hello WebController!{% endblock %}

{% block body %}


<div class="row">
    <div class="col-md-12">
        <h1 class="pb-2 border-bottom mb-4">Graphe d'évolution des points</h1>
    </div>
    <div class="col-md-8">

        <div class="card my-4">
            <div class="card-body">

            </div>
        </div>
    
    </div>
    <div class="col-md-2 text-center">
        <div class="card my-4">
            <div class="card-body">
                <h1>00</h1>
                <span>Utilisateu(s)</span>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-body">
                <h1>00</h1>
                <span>Groupe(s)</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
