{% extends 'base.html.twig' %}

{% block title %}Modifier Personne{% endblock %}

{% block body %}
    <h1 class="pb-2 border-bottom mb-4">Modifier Personne</h1>

    {{ include('personne/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_personne_index') }}">Retour</a>

    {{ include('personne/_delete_form.html.twig') }}
{% endblock %}
