{% extends 'base.html.twig' %}

{% block title %}Nouvelle personne{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1 class="pb-2 border-bottom mb-4">Nouvelle personne</h1>
    </div>
<div class="col-md-4">
    {{ include('personne/_form.html.twig') }}

    <a class="btn px-0 py-4 " href="{{ path('app_personne_index') }}">Retour</a>
    </div>
    </div>
{% endblock %}
